$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 900px;
  background-image: url('../image/fone.png');
}

.stan {
  width: 900px;
  height: 400px;
  background-image: url('../image/stan.png');

  &__clef {
    &-treble {
      width: 100px;
      height: 180px;
      background-image: url('../image/treble.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &-bass {
      margin-top: 98px;
      width: 340px;
      height: 240px;
      background-image: url('../image/bass.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

  &__note {
    background-image: url('../image/noteUp.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 200px;
    min-height: 250px;
    position: absolute;
    margin-left: 350px;
  }
}

.tools {
  margin-bottom: 100px;
}

.piano {
  min-width: 300px;
  min-height: 200px;
  border: 2px solid #000;

  &__panel {
    padding-top: 20px;
    text-align: center;
    height: 60px;
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
  }

  &__redLine {
    height: 5px;
    width: 100%;
    background-color: #ca0000;
  }
}

.keyboard {
  display: flex;
  position: relative;
  justify-content: space-between;
  min-width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.5);
}

.key {
  width: 40px;
  height: 200px;
  border-radius: 0 0 5px 5px;

  &__white {
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
  }

  &__black {
    position: absolute;
    width: 20px;
    height: 120px;
    background-color: rgb(0, 0, 0);

    &:nth-child(2) {
      left: 11%;
    }

    &:nth-child(4) {
      left: 25%;
    }

    &:nth-child(7) {
      left: 54%;
    }

    &:nth-child(9) {
      left: 68%;
    }

    &:nth-child(11) {
      left: 82%;
    }
  }

  &-push {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
